node-red-tweet-monitoring.json
[{"id":"d53e0f9.05fc57","type":"twitter in","z":"58572680.38824","twitter":"","tags":"@rickubo","user":"dm","name":"tweets ","topic":"tweets","inputs":0,"x":130,"y":181.42855834960938,"wires":[["1eda6997.79f0ae"]]},{"id":"d0197ccd.6acbe","type":"cloudant out","z":"58572680.38824","name":"","cloudant":"","database":"db_mydb","service":"teste-twitte-cloudantNoSQLDB","payonly":false,"operation":"insert","x":813.2855224609375,"y":212.33331298828125,"wires":[]},{"id":"46ed2c8c.0d9b2c","type":"cloudant in","z":"58572680.38824","name":"","cloudant":"","database":"db_mydb","service":"teste-twitte-cloudantNoSQLDB","search":"_idx_","design":"desDocIBM","index":"recordedAt","x":489.3333740234375,"y":332.4285583496094,"wires":[["56043e43.a13538"]]},{"id":"245d2b2.c8f73d4","type":"function","z":"58572680.38824","name":"pre-query","func":"// using search index\n\nmsg.payload = {\n  query : \"*:*\",\n  sort: \"-recordedAt\",\n  \"limit\":100\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":313.0000305175781,"y":332.4285888671875,"wires":[["46ed2c8c.0d9b2c"]]},{"id":"6fa7ce60.e33b8","type":"http in","z":"58572680.38824","name":"","url":"/dashboard","method":"get","swaggerDoc":"","x":136.33334350585938,"y":330.76190185546875,"wires":[["245d2b2.c8f73d4"]]},{"id":"56043e43.a13538","type":"function","z":"58572680.38824","name":"post-query","func":"// available for changing json return\nreturn msg;","outputs":1,"noerr":0,"x":662.6666870117188,"y":333.0952453613281,"wires":[["5f85f1fb.3a5d88"]]},{"id":"d5814a0c.ebac68","type":"http response","z":"58572680.38824","name":"","x":993.3333740234375,"y":333.76190185546875,"wires":[]},{"id":"5f85f1fb.3a5d88","type":"template","z":"58572680.38824","name":"template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n\n<!-- template generated by Ricardo Kubo for \ntweet dashboard using bluemix node-red -->\n\n<html>\n<head>\n\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<script>\n function autoRefresh(){\n\t   window.location.reload();\n}\n setInterval('autoRefresh()', 60000); // this will reload page after every 5 secounds; Method II\n</script>\n\n<style>\n\ndiv.img {\n    margin: 5px;\n    border: 1px solid #ccc;\n    float: left;\n    width: 260px;\n}\n\ndiv.img:hover {\n    border: 1px solid #777;\n}\n\ndiv.img img {\n    width: 100%;\n    height: auto;\n}\n\ndiv.desc {\n    padding: 15px;\n    text-align: center;\n    font-size: 0.8em;\n}\n\ndiv.author {\n    padding: 5px;\n    text-align: left;\n    font-size: 0.8em;\n}\n\n\n</style>\n\n</head>\n<body>\n\n<div>\nQuadro de Tweets : Powered By Bluemix \n<img src=\"images/node-red.png\" style=\"width:20px;height:15px;\"> \n</div>\n\n\n\n{{#cloudant.rows}}\n\n<div class=\"img\">\n  {{#doc.tweet.entities.media}}\n    <a target=\"_blank\" href=\"{{media_url}}\">\n      <img src=\"{{media_url}}\" alt=\"HTML5\" width=\"300\" height=\"200\">\n    </a>\n  {{/doc.tweet.entities.media}}\n  <div class=\"desc\">{{doc.tweet.text}}</div>\n  <div class=\"author\">\n    <img src=\"{{doc.tweet.user.profile_image_url}}\" style=\"width:30px;height:30px;\">\n    @{{doc.tweet.user.screen_name}}::{{doc.location.place}}\n  </div>\n  <!--div>{{doc.tweet.created_at}}</div-->\n</div>\n\n{{/cloudant.rows}}\n\n</body>\n</html> ","x":833,"y":333.09521484375,"wires":[["d5814a0c.ebac68"]]},{"id":"8905cb65.f762f8","type":"twitter in","z":"58572680.38824","twitter":"","tags":"#devops","user":"false","name":"tweets #","topic":"tweets","inputs":0,"x":140.66665649414062,"y":230.42855834960938,"wires":[["1eda6997.79f0ae"]]},{"id":"1eda6997.79f0ae","type":"function","z":"58572680.38824","name":"Process Tweet","func":"\n//future sorting\nmsg.recorded_at = new Date().getTime();\n\n\nreturn msg;","outputs":1,"noerr":0,"x":531.9999694824219,"y":210.76190185546875,"wires":[["d0197ccd.6acbe"]]}]